*{
    margin: 0;
    padding:0;
    background-color: rgb(233, 233, 233);
}
.box{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
.circle{
    border-radius: 50px;
    box-shadow: 4px 5px 8px inset rgba(0, 0, 0, 0.294), 4px 5px 8px rgba(0, 0, 0, 0.294),-4px -5px 10px rgb(255, 255, 255), inset -4px -5px 10px rgb(255, 255, 255) ;
    height: 100px;
    width: 100px;
    transition: 0.5s ease-in-out;
}
.circle:hover{
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.294),-4px -5px 10px rgb(255, 255, 255) ;
}